* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.ctr {
    padding-inline: 11%;
    padding-block-start: 3%;
}

.nav-link {
    text-decoration: none;
}

.bar-line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
}

.bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 35px;
    width: 35px;
    z-index: 6;
    &:hover{
        cursor: pointer;
    }
}

img {
    width: 100%;;
}

.img-holder {
    grid-area: item1;
}

.h1-holder {
    grid-area: item2;
    font-size: 3rem;
    font-weight: 700;
}

.section-child-3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: item3;
    justify-content: space-between;
}

.hero {
    display: grid;
    grid-template-areas: 
    "item1 item1 side"
    "item2 item3 side";
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.8rem;
}

button {
    width: 75%;
    max-height: 100px;
    cursor: pointer;
    font-size: 1rem;
    background-color: black;
    border: none;
    color: white;
    padding: 4%;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: hsl(240, 100%, 5%);
    color: white;
    grid-area: side;
    gap: 1rem;
    padding: 7%;
}

.part {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}

.side-h {
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
}


.part-ch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.child {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.under {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media(max-width: 900px) {
    .part {
        gap: 1rem;
    }

    button {
        width: 100%;
    }
    .h1-holder {
        font-size: 2.5rem;
    }

    .ctr {
        padding-inline: 3%;
    }
    
    .nav-links {
        gap: 1.2rem;
    }
}

@media (max-width: 630px) {
    .h1-holder {
        font-size: 2.5rem;
    }

    .hero {
        grid-template-areas: 
        "item1 item1 side"
        "item2 item2 side"
        "item3 item3 side";
        grid-template-columns: auto;
    }

}

@media (max-width: 425px) {
    nav {
        display: none;
    }

    .forMobilBar{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background-color: white;
        padding-top: 15px;
        z-index: 5;
    }

    body {
        background-color: hsl(233, 8%, 79%);
    }

    .forMobilBar .nav-links{
        flex-direction: column;
        gap: 0;
        &>*{
            padding: 15px;
            transition: all  1s;
            &:hover{
                background-color: #6bb6b6;
                
            }
        }
    }
}

@media (min-width: 425px) {
    .nav-links {
        display: flex;
    }

    .bar {
        display: none;
    }
}

@media (max-width: 550px) {
    .h1-holder {
        font-size: 2rem;
    }
    .hero {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .under {
        display: flex;
        flex-direction: column;
    }
}

